/* hidden sections */
.hide {
    display: none;
}


/* start screen styling */
#start-section {
    background-color: orange;
    height: 100vh;
}

#start-section h1 {
    text-align: center;
    padding: 8vh 0 20vh;
}

#start-section p {
    margin: 0 5vw;
}

#play-btn {
    display: block;
    margin: 10vh auto;
    background-color: red;
    border-radius: 50%;
    height: 120px;
    width: 150px;
    font-size: 40px;
}

#rule-btn {
    background-color: black;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

body{
    justify-content: center;
    align-items: center;
    margin: 50px;
}


/* game screen styling */
game {
    /* background: url(./assets/11111111.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
    width: 170vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    display: inline;
    justify-content: center;
}

.resultGif {
    height: auto;
    width: 300px;
}

.card-img-top {
    object-fit: fill;
    width: 60%;
    height: auto;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    margin: 0;
}

.card {
    width: auto;
    height: 500px;
    object-fit: fill;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 30px;
    outline-width: 10px;
    outline-style: outset;
    outline-color: black;
    overflow: hidden;
    transition: transform 0.3s ease-out;
} 
.card:hover {
    transform: translateY(-15px);
  }

.card-deck {
    width: 250px;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: fit-content;


}

.container {
    text-align: center;
    color: #da1111;
    box-sizing: border-box;
    width: 300px;
    height: 500px;
}

.card-body {
    box-sizing: border-box;
    height: 150px;
    width: 90%;
    padding: 0;

}

.card-body button {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    justify-content: center;
    width: 100%;
    height: 8%;
    -webkit-transition: all 0.3s ease-in-out;
    border: 0px;
    line-height: 1em;
    font-size: smaller;
    font-weight: bold;

}

.int:hover,
.str:hover,
.spd:hover,
.dur:hover,
.pow:hover,
.com:hover {
    -webkit-transform: scale(1.5);
    background: rgb(0, 0, 0);
    color: white;
}



.int {
    background-color: yellow;
    outline-color: yellow;
    outline-width: 5px;
    outline-style: outset;
}

.str {
    background-color: red;
    outline-color: red;
    outline-width: 5px;
    outline-style: outset;
}

.spd {
    background-color: blue;
    outline-color: blue;
    outline-width: 5px;
    outline-style: outset;
}

.dur {
    background-color: orange;
    outline-color: orange;
    outline-width: 5px;
    outline-style: outset;
}

.pow {
    background-color: purple;
    outline-color: purple;
    outline-width: 5px;
    outline-style: outset;
}

.com {
    background-color: green;
    outline-color: green;
    outline-width: 5px;
    outline-style: outset;
}

.card-body a {
    color:  aliceblue;
    font-size: 60%;
    margin: 0;
}

.card-body h2 {
    font-size: 100%;
}